<% content_for :title, "Modification utilisateur" %>

<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Voir ce profil", @user %> |
  <%= link_to "Retour aux profils", users_path %>
</div>
