<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>
<div class="container mt-4">
  <div class="row">
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Voir ce profil", user %>
    </p>
  <% end %>
</div>
</div>
<%= link_to "Nouveau profil", new_user_path %>
</div>
