<div id="<%= dom_id zweet %>">
  <p>
    <strong>Content:</strong>
    <%= zweet.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= zweet.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= zweet.user_id %>
  </p>

</div>
